{% extends 'base.html' %}

{% block title %} Detail {% endblock %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{product.name}}</h3>
            <h6 class="card-subtitle">{{category.name}}</h6>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="{{product.image.url}}" height="430" weigth="600"
                            class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6 justify-content-center">
                    <h5 class="box-title mt-2">Model</h5>
                    <p>{{product.model}}</p>
                    <h5 class="box-title mt-2">Description</h5>
                    <p>{{product.description}}</p>
                    <h5 class="box-title mt-2">Quantity in stock</h5>
                    <p>{{product.quantity_in_stocks}}</p>
                    <h5 class="box-title mt-2">Price</h5>
                    <p>{{product.price}}</p>
                    <h5 class="box-title mt-2">Warranty Status</h5>
                    <p>{{product.warranty_status}}</p>
                    <h5 class="box-title mt-2">Distributor Info</h5>
                    <p>{{product.distributor_info}}</p>
                    <button class="btn btn-primary btn-rounded">Add to cart</button>
                </div>

            </div>
        </div>
    </div>


    <hr>

    <h3 class="subtitle">Comments</h3>

    <div class="comments_wrapper">
        {% for comment in comments %}
            {% if comment.product.ID == product.ID%}
                <div class="notification">
                    <p>
                        <strong>Date: </strong>{{ comment.date_added|date:"Y-m-d" }},
                        <strong> Stars: </strong>{{comment.stars}}
                    </p>

                    {{comment.content }}
                </div>
            {% endif %}
            {% empty %}
                <div class="notification">
                    No comments yet
                </div>

        {% endfor %}
    </div>

    <div class="notificaiton"> 
        {% if request.user.is_authenticated %}
            <form method="post" action=".">
                {% csrf_token %}

                <div class="field">
                    <label>Stars</label>

                    <div class="control">
                        <div class="select">
                            <select name="stars">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3" selected>3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Content</label>

                    <div class="control"> 
                        <textarea class="textarea" name="content"></textarea>
                    </div>
                </div>

                <div class="field">

                    <div class="control">
                       <button class="btn btn-danger" type="Submit" formaction="{% url 'detail' product.ID %}"> submit</button>
                    </div>
                </div>
            </form>
        {% else %}
            <p>Please sign in to comment</p>    
        {% endif %}
    </div>


</div>
{% endblock %}