{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<br>
<div class="container mt-0">
  <div class="row">
    <form method="post" action="{% url 'index' %}">
      {% csrf_token %}
      <input type="hidden" name="command" value="sort">
      <button class="btn btn-primary mb-2" type="submit">Sort</button>
    </form>
    <div class="col-lg-9">
      <div class="row">
        {% for i in instockproducts %}
        <div class="col-md-4 mb-3">
          <a href="{% url 'detail' i.ID %}">
            <div class="card mb-2" style="width: 100%">
              <img src="{{ i.image }}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <a href="{% url 'detail' i.ID %}" class="btn btn-danger">Details...</a>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}