{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container mt3">
  <div class="row">
    <div class="col-9">
      <div class="row">
        {% for i in instockproducts %}
        <div class="col-4">
          <a href="{% url 'detail' i.ID %}">
            <div class="card mb-2" style="width: 100%">
              <img src="{{ i.image }}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <a href="{% url 'detail' i.ID %}" class="btn btn-danger">Details...</a>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}