{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block style %}
<style>
	body {
		background: #555;
	}

	.content {
		max-width: 500px;
		margin: auto;
		background: white;
		padding: 10px;
	}
</style>
{% endblock %}


{% block content %}
<br>
<div class="content">
	<h2>Login</h2>
	<form>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<div style="position:relative; left:300px;">
			<a href="{% url 'index' %}">Return to main page</a>
		</div>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>

		<div style="position:relative; left:120px; top:2px;">
			<input type="submit" value="Login">
		</div>
	</form>
	<div style="position:relative; left:70px; top:2px;">
		<a href="{% url 'signup' %}">Dont have an account?</a>
	</div>
</div>
{% endblock %}