{% extends 'base.html' %}

{% block content %}
<p>
    Your item {{product.name}} has been bought
</p>

<p>
    with price:  {{product.price}}
</p>
<p>
    The amount of {{amount}}
</p>
<p>
    with total price of  {{total}}
</p>
<a href="{% url 'delivery' %}">Click Here to see your delivery status</a>
<!--
<h1>PDF Example</h1>
    <p>Open a PDF file <a href="\cs_308_project\Marketplace\pdf_2.pdf">example</a>.</p>
    -->
<embed src="{% static 'myapp/myfile.pdf' %}" type="application/pdf" width="100%" height="600px" />
{% endblock %}