.sign-up-sheet{
    width: 360px;
    height: 620px;
    margin: auto;
    border-radius: 3px;
    background-color: beige;

}
h1{
    text-align: center;
    padding-top: 15px;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
}

form input{
    width: 100%;
    padding: 4px;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 30px;

}
.to-login{
    margin-left: 20px;
}